# Godot-specific ignores
#.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/

# Builds
builds/

# Project files
project/
settings.conf

# Addons
addons/makefile_launcher
addons/Todo_Manager
addons/zylann.translation_editor

# Utility makefile
makefile

# Ignore everything that's not default
modules/*
!modules/default
apps/*
!apps/keyboard_entry.gd
!apps/PICO-8.sh
!apps/quit_entry.gd
!apps/reload_entry.gd
!apps/settings_entry.gd